#Load List of postal codes except Borough ="Not assigned" using pandas df

In [19]:
import pandas as pd

In [21]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url,header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [23]:
df.drop(df[df.Borough =='Not assigned'].index, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#Get the latitude and Longitude for the above df using pandas

In [24]:
df1 = pd.read_csv("F:/Downloads/Geospatial_Coordinates.csv" )
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#Concatenate two dataframes

In [25]:
df2 = pd.concat([df,df1],axis =1)

In [26]:
df2.drop('Postal Code',axis =1,inplace=True)
df2.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      NaN               NaN               NaN  43.806686 -79.194353
1      NaN               NaN               NaN  43.784535 -79.160497
2      M3A        North York         Parkwoods  43.763573 -79.188711
3      M4A        North York  Victoria Village  43.770992 -79.216917
4      M5A  Downtown Toronto      Harbourfront  43.773136 -79.239476

#Drop Nan

In [32]:
df3=df2.dropna()
df3.head(10)

   Postcode           Borough     Neighbourhood   Latitude  Longitude
2       M3A        North York         Parkwoods  43.763573 -79.188711
3       M4A        North York  Victoria Village  43.770992 -79.216917
4       M5A  Downtown Toronto      Harbourfront  43.773136 -79.239476
5       M5A  Downtown Toronto       Regent Park  43.744734 -79.239476
6       M6A        North York  Lawrence Heights  43.727929 -79.262029
7       M6A        North York    Lawrence Manor  43.711112 -79.284577
8       M7A      Queen's Park      Not assigned  43.716316 -79.239476
10      M9A         Etobicoke  Islington Avenue  43.757410 -79.273304
11      M1B       Scarborough             Rouge  43.750072 -79.295849
12      M1B       Scarborough           Malvern  43.794200 -79.262029

#Draw Maps

In [ ]:
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

In [ ]:
map_can = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(df2['Latitude'], df2['Longitude'], df2['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_manhattan)  
    
map_can